/******* RESET SETTINGS ************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}



/************* REGULAR SETTINGS ****************/

body {color: black; background: rgb(90,90,90); font-family:verdana,arial,sans-serif; text-align:center; font-size:80%;}
.container {width:960px;  margin-top:15px; margin-bottom:20px; margin-right:auto; margin-left:auto; padding:0px; text-align:left;}
.header {width: 960px; height:60px; background:#00FF00; margin:0;}
.login {width: 960px; height:15px; background:#00FF00; margin:0;}
.main-content {border-color: #b8b8b8; border-style: solid; border-width: 2px; clear:both; background:rgb(255,255,255); float:left; overflow:visible; width: 953px; padding: 2px 2px 10px 2px; margin: 10px 0 0 0; height:300px; min-height:300px; height:auto;z-index:120;}

.main-content table {width: 940px; float:left; padding: 0px; margin: 10px 0 5px 10px; font-size:80%;z-index:120; border-spacing:3px;}
.main-content table th {background: rgb(190,235,245);padding:2px 0 2px 0;}
.main-content table td {width:auto; padding:0 2px 0 2px; vertical-align:middle;}
.main-content table td input {padding: 0 2px 0 2px; margin: 0 3px 0 3px; font-size:95%;}


.main-content table.edit {width: 465px; float:left; padding: 0px; margin: 10px 0 5px 10px; font-size:80%;}
.main-content table.edit th {text-decoration:bold,underline;}
.main-content table.edit td {background: rgb(255,255,255);}
.main-content table.edit td input {size:40px; padding: 0 3px 0 3px; margin: 0 3px 0 3px; font-size:101%; background:white;}

table.program {width: 936px; float:left; padding: 0px; margin: 10px 0 5px 10px; font-size:90%;text-align:center; border:0px solid white; border-collapse:collapse;z-index:120;}
table.program tr.se {border:6px solid rgb(80,255,80);}
table.program th {background: #fbffff; text-align:center; font-size:120%;font-weight:bold; padding:10px 0 7px 0;color: #111;}
table.program td {text-align:center;vertical-align:middle;padding:3px;}
table.program .long {background-color:#e66;padding:3px;}
table.program .med {background-color:#ee6;padding:3px;}
table.program .short {background-color:#6e6;padding:3px;}
table.program tr.white {background-color: #eee;border-top: 1px solid #888;}
table.program tr.grey {background-color: #ccc;border-top: 1px solid #888;}
table.program tr.highlight {font-weight: bold; color: #f3f3f3; background-color: #08e607;}
table.program tr.hover {background-color: #7caeff;}
table.program tr.notice {background-color: #ffc;}
table.program td button { font-size: 110%; border: solid 1px rgb(160,160,160); text-align: center;  padding: 1px;margin:1px;width:90%;}
table.program td.btn {width:65px;}


table.program input.assign,
table.program input.done {background-color: #b7ffa0; }
table.program input.assign:hover,
table.program input.done:hover {color: #fff3fa; background-color: #00b802; }
table.program input.split {background-color: #fffcb1;}
table.program input.split:hover {background-color: #eced01;}
table.program input.edit {background-color: #b0d9ff;}
table.program input.edit:hover {color: #faf5ff; background-color: #0f20e4;}
table.program input.cancel {background-color: #ffb0b6;}
table.program input.cancel:hover {color: white; background-color: #e10d13;}
table.program input.undo {background-color: #ffb0b6;}
table.program input.undo:hover {color: white; background-color: #e10d13;}


button.riding {background-color: white; }
button.assign,
button.done {background-color: #b7ffa0; }
button.riding:hover {color: white; background-color: black}
button.assign:hover,
button.done:hover {color: #fff3fa; background-color: #00b802; }
button.split {background-color: #fffcb1;}
button.split:hover {background-color: #eced01;}
button.edit {background-color: #b0d9ff;}
button.edit:hover {color: #faf5ff; background-color: #0f20e4;}
button.cancel {background-color: #ffb0b6;}
button.cancel:hover {color: white; background-color: #e10d13;}
button.undo {background-color: #ffb0b6;}
button.undo:hover {color: white; background-color: #e10d13;}

h1 {font-size:320%; font-family:helvetica,tahoma; padding:15px; color:#fff; font-weight:normal;}
h2 {font-size:150%; font-family:helvetica,tahoma; padding:0; margin:3px 0 10px 5px; color:rgb(45,45,45);}
h3 {text-align: left; font-size:120%; font-family:helvetica,tahoma; padding:0; margin:0 0 10px 60px; color:rgb(45,45,45); text-decoration:underline; font-weight:bold;}
h4 {margin:0 0 -3px 15px; padding:0; font-weight:bold; font-size:100%; line-height:1.3em;}
h5 {margin:5px 0 5px 0; padding:0; font-weight:bold; font-size:110%; line-height:1.5em;}
a, a:visited, a:hover {text-decoration:none; color:#121212;}

.navbar {float:left; width:960px; height:45px; padding:0; margin:0; background:#5f5; color:rgb(75,75,75); font-size:120%;}
.navbar ul {list-style-type: none; height:50px; padding:0 0 0 10px; margin:0;}
.navbar ul li {float:left; position:relative; height:50px; line-height:35px; margin: 0 4px 0 4px; }
.navbar ul li a {padding:2px 12px 0 12px; float:left; display:block; height: 45px; margin:10px 0 0 0; text-decoration:none; font-weight:bold; color: rgb(50,50,50);}
.navbar ul li a:hover {height: 45px; border-right-style: solid; border-right-color: #b9b9b9; border-right-width: 2px; border-left-color: #b9b9b9; border-top-color: #b9b9b9; border-left-style: solid; border-top-style: solid; border-left-width: 2px; border-top-width: 2px; background:rgb(255,255,255);text-decoration:none;padding:0 10px 0 10px;}
.navbar ul li.clock {float:right; position:relative; margin: 0 10px 0 0; display:block; height:42px; padding: 10px 5px 0 5px; text-decoration:none; font-weight:bold; color: rgb(50,50,50);}
.navbar ul li.cars {float:right; position:relative; margin: 0 0 0 4px; display:block; height:42px; padding: 0 5px 0 5px; text-decoration:none; font-weight:bold; color: rgb(50,50,50);}

.footer {float:left; width:961px; height:25px; padding:0; margin:10px 0 0 0; background:rgb(70,250,70); color:rgb(75,75,75); font-size:120%;}
.footer h6 {font-size:75%;padding:5px 0 0 0;color:#111111;}
.footer a {text-decoration: underline;}
.footer a:hover {color:#666666;}


/****************** Stats page **********************/
#stats-content {width: 920px;}
#top-chart {float:left;margin:20px;}
#ride-meter {float:right;margin:20px 10px 10px 0px;}
#pie-chart {float:right;margin:20px 10px 10px 10px;}
#car-chart {float:left;margin:60px 10px 10px 25px;}
#ride-count {float:right;margin:20px 10px 10px 10px;}

/****************************************************/

/****************** Cars Page ***********************/
#legend-content {margin: 0pt auto; width: 800px; height: 50px;}
#car-legend {padding: 5px; float: left; height: 30px; vertical-align: middle;}
#car-legend img {padding: 8px 8px;float:left;border:1px solid #777}
#car-legend label {float:left;margin:3px 0 0 5px;width:100px;}
#car-boxes {margin:0 auto;width:870px;}
.car-box {border: 3px solid #555; margin: 10px; padding: 10px; width: 170px; float: left; height: 80px;}
.car-box h2 {color:#222;vertical-align:middle;text-align:center;font-weight:bold;margin:10px;font-size: 120%;}
.car-box h3 {color:#222;vertical-align:middle;text-align:center;font-weight:normal;margin:0;font-size: 120%; text-decoration: none;}
.car-circuit {background-color: #9ff;}
.car-normal {background-color: #d6f;}
.car-call {background-color: #f66;}
.car-here {background-color: #ccc;}
.car-done {background-color: #8f8;}
.car-chill {background-color: #ff9;}
.car-edit {background-color: #fff; border-color: #f44;}
.car-edit a {float:right;font-family:Arial;margin:0;}
.car-edit a:hover {font-weight: bold;}
.car-edit input {clear:both; font-size: 110%; border: solid 1px rgb(160,160,160); text-align: center;  padding: 1px;margin:5px 25px;width:120px;}
.car-edit input.car-call:hover {color: white; background-color: #c00;}
.car-edit input.car-done:hover {color: white; background-color: #0a0;}

/****************************************************/

body#incoming li#navincoming a, 
body#waiting li#navwaiting a,
body#circuit li#navcircuit a,
body#newcars li#navnewcars a,
body#assigned li#navassigned a,
body#riding li#navriding a,
body#stats li#navstats a,
body#done li#navdone a,
body#ndr li#navndr a,
body#cars li#navcars a {background:rgb(255,255,255);color:rgb(50,50,50);border-right-style: solid; border-right-color: #b9b9b9; border-right-width: 2px; border-left-color: #b9b9b9; border-top-color: #b9b9b9; border-left-style: solid; border-top-style: solid; border-left-width: 2px; border-top-width: 2px; padding:0 10px 0 10px;}

.rideform {float:left; width:495px; margin:15px 0 10px 15px;  padding: 0px;border:solid 1px rgb(200,200,200); background:rgb(220,220,220);}
.rideform p {margin:10px 0 10px 0; padding:0;}
.rideform fieldset {width:460px; padding:0 0 5px 5px; margin:5px 10px 10px 10px; border:solid 1px rgb(180,180,180);}
.rideform fieldset legend {margin:0 0 5px 5px; padding:0 2px 0 2px; color:rgb(80,80,80); font-weight:bold; font-size:140%; font-variant: small-caps;}
.rideform label.left {text-align:left; float:left; width:210px; margin:3px 0 0 10px; padding:1px; font-size:100%;}
.rideform label.short {width:120px;} 
.rideform select.combo {width:220px; padding:1px; border:solid 1px rgb(200,200,200);}
.rideform input {font-size:105%; padding:2px; border:solid 1px rgb(200,200,200);}
.rideform input:focus {background:rgb(190,250,190);}
.rideform input.field {width:210px;}
.rideform input.short {width:140px; }
.rideform input.lp {width:60px; }
.rideform input.number {width:30px; }
.rideform input.number2 {width:38px; }
.rideform textarea {width:210px; padding:2px; border:solid 1px rgb(200,200,200); font-family:verdana,arial,sans-serif; font-size:100%;}
.rideform input.button {float:right; width:9.0em; margin-right:20px; padding:1px !important /*Non-IE6*/; padding:0 /*IE6*/; background:rgb(230,230,230); border:solid 1px rgb(150,150,150); text-align:center; font-family:verdana,arial,sans-serif; color:rgb(150,150,150); font-size:110%;}
.rideform input.button:hover {cursor: pointer; border:solid 1px rgb(80,80,80); background:rgb(220,220,220); color:rgb(80,80,80);}
.rideform button {margin:0 10px 0 10px;}
.rideform input.assign {background-color: #b7ffa0; }
.rideform input.assign:hover {color: #fff3fa; background-color: #00b802; }
.rideform input.edit {background-color: #b0d9ff;}
.rideform input.edit:hover {color: #faf5ff; background-color: #0f20e4;}


.instructions {float:right; width:415px; margin:5px 15px 0 0; font-size:95%;}
.instructions fieldset {margin:5px 0 0 0; padding:10px; border:solid 1px rgb(180,180,180);}
.instructions fieldset legend {color:#565656; text-align:center; font-size:150%; font-weight:bold; font-variant:small-caps;}
.instructions p {line-height:1.6em;padding:0 0 10px 0;}
#assign {z-index:150; position:absolute; margin:auto !important /*Non-IE7*/; margin:0 0 0 -1300px /*IE7*/;}
#split {z-index:150; position:absolute; margin:auto !important /*Non-IE7*/; margin:0 0 0 -1300px /*IE7*/;}

.rides {width:150px; padding:5px; border:solid 1px rgb(20,220,20); margin:2px auto 2px auto; background:rgb(80,240,80);}
.rides fieldset {padding:5px; border:solid 1px rgb(20,220,20);background:rgb(255,255,255);}
.rides fieldset legend {border:solid 1px rgb(20,220,20); font-size:110%;color:rgb(40,40,40);background:rgb(255,255,255);}
.rides input.number {width:25px; margin:-4px 0 -4px 5px;}
.rides label.left {float:left; width:40px; margin:-2px 0 -2px 5px;}

div.assign {position:absolute;z-index:101;margin:0 0 0 -98px; background-color:white; }
div.split {position:absolute;z-index:101;margin:-30px 0 0 -185px;background-color:white; }

.fassign {width:80px; padding:6px 3px 3px 3px; border:solid 1px rgb(20,220,20); margin:5px;/*2px auto 2px auto;*/}
.fassign input.number {width:18px;}
.fassign label.left {color: black; float:left; width:30px; padding:2px 0 0 0;}
.fassign input.button {margin-left: -3px;}

.passign {width:120px; padding:6px 3px 3px 3px; border:solid 1px rgb(20,220,20); margin:5px;/*2px auto 2px auto;*/}
.passign input.number {width:18px;}
.passign label.left {color: black; float:left; width:30px; padding:2px 0 0 0;}
.passign input.button {margin-left: -3px;}

.fsplit {width:75px; padding:6px 3px 3px 3px; border:solid 1px rgb(20,220,20); margin:5px;/*2px auto 2px auto;*/}
.fsplit input.number {width:20px;}
.fsplit label.left {color: black; float:left; width:44px; padding:2px 0 0 0;}


.newcars {float:right; width:430px; margin:10px 15px 0 0; font-size:110%;}
.newcars table {width: 420px; border:solid 0px; margin:5px 0 0 0; text-align:center;}
.newcars table th {background: rgb(255,255,255); font-weight:bold;}

.mainpage {float:left; margin:10px; padding:10px;}
.mainpage a {text-decoration:underline;color:rgb(20,140,20);}
.mainpage a:hover {text-decoration:underline; color:rgb(80,240,80);}
.mainpage p {margin:0 0 0 5px; line-height:2.5em;}

textarea {font-family:verdana,arial,sans-serif; font-size:90%;padding:1px;}
input {font-family:verdana,arial,sans-serif;}


